:root {
    /* 사이드 바 */
    --sidebar-border: var(--border);
    --sidebar-width: 240px;
    --sidebar-height: 100vh;

    /* 컨테이너 */
    --container-border: var(--border);
    --container-width: calc(100vw - var(--sidebar-width) - 32px);
    --container-height: calc(100vh - 32px);
    --container-background: #dcdcdc;
}

html,
body {
    overflow: hidden; /* 전체 페이지 스크롤 방지 */
}

.scrollbar-container::-webkit-scrollbar {
    width: 5px;
    background: none;
}

.scrollbar-container::-webkit-scrollbar-thumb {
    background: #013f1445;
}
